/* Изменение подписи загрузки файла */
.custom-file-input ~ .custom-file-label::after {
    content: "Обзор";
}
/* спиннер */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: green;
  animation: spinner .6s linear infinite;
}

.spinner {
	position: relative;
	margin-left: 20px;
}