html, body {
  height: 100%;
  margin: 0;
  padding-top: 0;
}

.full-height {
  height: 100%;  
}

.login .zero-raduis {
	border-radius: 0px !important;
}

.login a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.login h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display:inline-block;
  color: #56baed;
}



/* STRUCTURE */

.login .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  /*padding: 20px;*/
}

.login #formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;

  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.login #formFooter {
  padding: 2px ;
  text-align: right;
  width: 90%;
}



/* TABS */

.login h2.inactive {
  color: #cccccc;
}

.login h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.login input[type=button], 
.login input[type=submit], 
.login input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  width: 85%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.login input[type=button]:hover, 
.login input[type=submit]:hover, 
.login input[type=reset]:hover  {
  background-color: #39ace7;
}

.login input[type=button]:active, 
.login input[type=submit]:active, 
.login input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login input[type=text], 
.login input[type=email], 
.login input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.login input[type=text]:focus, 
.login input[type=email]:focus,
.login input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.login input[type=text]:placeholder, 
.login input[type=email]:placeholder,
.login input[type=password]:placeholder {
  color: #cccccc;
}

.main.login {
  /*background-image: url(../img/silhouette.jpg);*/
  background-repeat: repeat-x;
  background-position: middle;
}

.main.login .login-wrapper a {
    color: lightgray;
}

.main.login .login-wrapper h2 {
    color: orange;
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
    font-size: 1.3rem;
    font-weight: bold;
}

.main.login .login-wrapper .card-header {
    margin-bottom: 1rem;
    background-color: #343a40;
    opacity: 0.8;
}

.main.login .login-wrapper input[type=button],
.main.login .login-wrapper input[type=submit], 
.main.login .login-wrapper input[type=reset]  {
    background-color: #5a6268;
    color: orange;
}

.main.login .login-wrapper input[type=button]:hover, 
.main.login .login-wrapper input[type=submit]:hover, 
.main.login .login-wrapper input[type=reset]:hover  {
  background-color: #343a40;
}

.main.login .login-wrapper input[type=text]:focus, 
.main.login .login-wrapper input[type=email]:focus,
.main.login .login-wrapper input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid orange;
}

.main.login .login-wrapper .underlineHover:hover {
    color: #343a40;
}

.main.login .login-wrapper .underlineHover:after {
    background-color: orange;
    content: "";
    transition: width 0.2s;
}

/* Simple CSS3 Fade-in Animation */
.login .underlineHover:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.login .underlineHover:hover {
  color: #0d0d0d;
}

.login .underlineHover:hover:after{
  width: 100%;
}*/



/* OTHERS */

.login *:focus {
    outline: none;
} 

#icon {
  width: 30%;
}

.login .nav-tabs {
    margin-bottom: 1rem;    
}

.main.login .login-wrapper .nav-tabs a {
    color: #343a40;
}

span.success, p.success {
  color: green;
  font-weight: bold;
}

span.error {
  color: red;
  font-weight: bold;
}

.main.login .login-wrapper input[type=text].invalid , 
.main.login .login-wrapper input[type=email].invalid ,
.main.login .login-wrapper input[type=password].invalid  {
  border: 1px solid red;
  border-radius: 5px;
}

.main.login .login-wrapper a.return-main {
  color: orange; 
  font-weight: bold;
  margin-bottom: 30px;
  opacity: 0.8;
}

.main.login .login-wrapper a.return-main:hover {
  opacity: 1;
}
