/*body {
  padding-top: 56px;
}*/


div {
  outline: 0px dotted red;
}

/*HEADER*/


@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 360px) and (max-width: 768px) {

}

@media screen and (min-width: 320px) and (max-width: 360px) {

}


/*./HEADER*/

/*CONTENT*/
.main.admin-panel {
  margin-top: 56px;  
}

.main.admin-panel.executor .card {
  margin-bottom: 1.5rem;
}

.make-order-form div span{

}
/*./CONTENT*/



